:root {
    font-family: "Roboto Mono", monospace;
    --background-color: #222;
    --secondary-background-color: #2e2e2e;
    --text-color: #bbb;
    --secondary-text-color: #666;
    --color-blue: #049ef4;
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: var(--background-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-blue);
}

.label {
    color: var(--color-blue);
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 300px;
    border-right: 1px solid;
    border-color: var(--secondary-text-color);
    .header {
        padding-left: 16px;
        border-bottom: 1px solid;
        border-color: var(--secondary-text-color);
        .return-link {
            padding-bottom: 10px;
        }
    }
    .content {
        padding: 0 16px;
        overflow-y: auto;
        .scene-list {
            .card {
                background: var(--secondary-background-color);
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 16px;
                .title {
                    font-weight: 500;
                    padding: 8px 10px;
                }
            }
        }
    }
}

.thumbnail img {
    max-width: 100%;
}

iframe {
    flex-grow: 1;
    border: none;
}
